<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>  
    <system.web>
      <customErrors mode="Off"/>
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" name=".ASPXFORMSAUTH" timeout="525600" >
        </forms>
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  <connectionStrings>
    <add name="KioskConnectionString" connectionString="Data Source=SSServer,1433;Network Library=DBMSSOCN;Initial Catalog=kiosk;User ID=yourID;Password=yourPassword" />
  </connectionStrings>
    

</configuration>
